/* Cliente */

*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
}

nav{

    height: 60px;
    width: 100%;    
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

nav ul{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 10px;    
}


nav ul li {
    padding: 10px;    
}

nav ul li:hover:not(:first-child){

    background-color: #f2f2f2;
    border-bottom:1px solid black;
    padding: 10px;

}

a{
    text-decoration: none;    
    font-size: 20px;    
    font-family: 'Roboto', sans-serif;
}

#wrapper{    
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


#lista_productos{
    width: 96vw;
    height: 100%;
    padding: 10px;
    margin: 0;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.producto{    
    width: 20%;
    height: 50%;
    padding: 15px;
    margin: 5px;
    font-size: 13px;
    border: 1px solid lightgray;
    border-radius: 8px;
    outline: 1px solid #F0C047;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s;
}

.producto:hover{
    cursor: pointer;
    border: 1px solid #F0C047;
    outline: 2px solid #F0C047;
    background: #d4a93c;
}

.producto img{
    width: 104px;
    height: 133px;
    padding-bottom: 5px;
    border-bottom: 2px solid lightgray;
}


button{
    background: #d4a93c;
    border: 1px solid lightgray;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

/* LOGIN */

#wrapper-login{
    margin: 0 auto;
    width: 99vw;
    height: 99vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

form{
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 5px;
}

form input{
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    padding: 10px;
}

#btn_login{
    background: #F0C047;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease all;;
}

#btn_login:hover{
    background: #d4a93c;
    border-radius: 5px;
    cursor: pointer;
}

.login_input{
    font-family: Arial, sans-serif;
    font-weight: lighter;
    background: #E8F0FE;
    border-radius: 5px;
}

#sign_in{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: bold;
    text-align: left;
}

#error_msg{
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
    text-align: left;
}


.item img{
    width: 104px;
    height: 133px;
    padding-bottom: 5px;    
}

.item{
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 1px solid greenyellow;
    border-radius: 5px;
    margin: 4px;
    width: 30%;
}


.total{
    text-align: center;
    margin-bottom: 20px;
}

.info{
    
    margin-left: 10px;
}

#carrito{    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dashboard{    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;    
}

#menud{
    width: 20%;
    height: 100%;        
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    border-right: 1px solid lightgray;    
}

#infod{
    width: 80%;
    height: 100%;
    display: flex;
    /* background-color: #F0C047; */
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    border: 1px solid black;
}

#chart1{
    width: 45%;
    height: 45%;      
    margin: 10px;
}


#chart2{
    width: 45%;
    height: 45%; 
    margin: 10px;       
}

#menud ul li {
    padding: 10px;    
    margin: 10px;
    text-align: center;    
}

#menud ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#menud ul li{
    font-size: 20px;
    /* font-weight: bold; */
    color: #fff!important;
    border: 1px solid #000;
    cursor: pointer;
}

#menud ul li:hover{
    background-color: cornflowerblue;
}

#menud ul{    
    list-style: none;    
    padding: 0;    
    width: 100%;
    height: 100%;
    margin: 0;
    /* background: lightcoral; */
}